.leaders {
  height: 100%;
  padding-top: 20px;
  border-bottom: 10px dotted #DFF4F1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 1200px) {
  .leaders {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 96px;
  }
}

.leaders__person {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .leaders__person {
    flex-direction: row;
    align-items: normal;
  }
}

.leaders__person--left {
  padding-right: 5px;
}

.leaders__person--right {
  padding-left: 15px;
}

.leaders__person img {
  width: 188px;
  height: 188px;
}

.leaders__info {
  text-align: center;
}

@media (min-width: 900px) {
  .leaders__info {
    margin-left: 34px;
    text-align: left;
  }
}

.leaders__info h5 {
  color: #41BEAD;
  margin-bottom: 8px;
}

.leaders__info span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #B2B2B2;
}

.leaders__info p {
  margin-top: 24px;
}
