.apply-wrapper {
  border-top: 12px solid #92CDFB;
  background-color: #66B9F8;
}

.apply-wrapper .apply {
  height: 100%;
  padding-top: 64px;
  padding-left: 170px;
  padding-right: 170px;
  color: white;
}

.apply-wrapper .apply__title {
  color: white;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 900px) {
  .apply-wrapper .apply__title {
    font-size: 36px;
  }
}

.apply-wrapper .apply__info {
  color: white;
  max-width: 850px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.apply-wrapper .apply__form {
  align-self: stretch;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .apply-wrapper .apply__form {
    display: block;
  }
}

.apply-wrapper .apply__form-input {
  width: 335px;
  margin-bottom: 36px;
  border: 1px solid white;
  color: white;
  background-color: #66B9F8;
}

@media (min-width: 1200px) {
  .apply-wrapper .apply__form-input {
    width: 228px;
    margin-bottom: 0;
  }
}

@media (min-width: 1285px) {
  .apply-wrapper .apply__form-input {
    margin-right: 29px;
  }
  .apply-wrapper .apply__form-input--last {
    margin-right: 44px;
  }
}

.apply-wrapper .apply__form-input::placeholder {
  color: white;
}
