@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';

.profiles {
    height: 100%;
    padding: 96px 94px 65px 104px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &__profile {
        
        img {
            max-width: 188px;
            max-height: 188px;
        }

        h5 {
            color: $primary-300;
            margin-bottom: 8px;
            margin-top: 24px;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: $grey-400;
        }
    }
}
