.profiles {
  height: 100%;
  padding: 96px 94px 65px 104px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (min-width: 900px) {
  .profiles {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .profiles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.profiles .profile {
  position: relative;
}

.profiles .profile--desktop {
  display: none;
}

@media (min-width: 1200px) {
  .profiles .profile--desktop {
    display: flex;
  }
}

.profiles .profile--tablet {
  display: none;
}

@media (min-width: 900px) {
  .profiles .profile--tablet {
    display: flex;
  }
}

.profiles .profile__image-wrapper {
  width: 188px;
  height: 188px;
  cursor: pointer;
}

.profiles .profile__overlay {
  display: none;
  background-color: #FF9100;
  opacity: 0.8;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 50px;
  cursor: pointer;
}

.profiles .profile__overlay span {
  color: white;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  margin-top: 12px;
}

.profiles .profile__overlay:hover {
  display: flex;
}

.profiles .profile .profile__image-wrapper:hover + .profile__overlay {
  display: flex;
}

.profiles .profile__name {
  color: #41BEAD;
  margin-bottom: 8px;
  margin-top: 24px;
}

.profiles .profile__position {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #B2B2B2;
}
