.intro-wrapper {
  background-color: #FFB402;
}

.intro-wrapper .intro {
  height: 100%;
  justify-content: center;
}

.intro-wrapper .intro h2 {
  color: white;
}

.intro-wrapper .intro__content {
  max-width: 850px;
  color: white;
  margin-top: 24px;
  margin-bottom: 0;
}
