@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';

.leaders {
    height: 100%;
    padding-top: 96px;
    border-bottom: 10px dotted $primary-50;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__person {
        align-self: start;
        display: flex; 

        &--right {
            padding-left: 15px;
        }

        img {
            max-width: 188px;
            max-height: 188px;
        }
    }

    &__info {
        margin-left: 37px;

        h5 {
            color: $primary-300;
            margin-bottom: 8px;
        }

        span {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: $grey-400;
        }

        p {
            margin-top: 24px;
        }
    }
}
