@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';
@import '../../settings/settings-breakpoints.scss';

.contact-form {
    height: 100%;
    padding-top: 174px;

    &__title {
        color: $primary-300;
        margin-bottom: 25px;
    }

    &__form {
        width: 80%;

        @include for-desktop-up {
            width: 850px;
        }
    }

    &__input {
        width: 48%;
        border: 1px solid $grey-500;

        &::placeholder {
            color: $grey-500;
        }

        @include for-desktop-up {
            width: 409px;
        }
    }

    &__textarea {
        max-height: 192px;
        margin-top: 30px;
        margin-bottom: 30px;

        &::placeholder {
            color: $grey-500;
        }
    }
}
