@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';

.contact-form {
    height: 100%;
    padding-top: 170px;

    form {
        width: 850px;
    }

    &__title {
        color: $primary-300;
        margin-bottom: 32px;
    }

    textarea {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 32px;
        padding: 16px;
        border: 1px solid $grey-500;
        border-radius: 6px;

        &::placeholder {
            font-size: 16px;
            color: $grey-500;
        }
    }

    input {
        width: 409px;
        padding: 16px;
        border: 1px solid $grey-500;
        border-radius: 6px;

        &::placeholder {
            font-size: 16px;
            color: $grey-500;
        }
    }
}
