.contact-form {
  height: 100%;
  padding-top: 174px;
}

.contact-form__title {
  color: #41BEAD;
  margin-bottom: 25px;
}

.contact-form__form {
  width: 850px;
}

.contact-form__input {
  width: 409px;
  border: 1px solid #919191;
}

.contact-form__input::placeholder {
  color: #919191;
}

.contact-form__textarea {
  max-height: 192px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-form__textarea::placeholder {
  color: #919191;
}
