@import '../settings/settings-colors.scss';

.select-wrapper {
    position: relative;

    &::after {
        content: '';
        background-image: url('../../assets/select-down-arrow.svg');
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        top: 19px;
        right: 18px;
    }

    select {
        min-width: 674px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 6px;
        padding: 14px 60px 14px 14px;
        color: $grey-700;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        cursor: pointer;
    
        //change arrow
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    
        option {
            color: $grey-700;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
        }
    }
}

input {
    padding: 16px;
    border-radius: 6px;

    &::placeholder {
        font-size: 16px;
    }
}

textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid $grey-500;
    border-radius: 6px;
    resize: none;

    &::placeholder {
        font-size: 16px;
        color: $grey-500;
    }
}
