.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  background-image: url("../../assets/select-down-arrow.svg");
  width: 16px;
  height: 10px;
  display: block;
  position: absolute;
  top: 19px;
  right: 18px;
}

.select-wrapper select {
  min-width: 674px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 14px 60px 14px 14px;
  color: #565656;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.select-wrapper select option {
  color: #565656;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

input {
  padding: 16px;
  border-radius: 6px;
}

input::placeholder {
  font-size: 16px;
  color: #919191;
}

textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #919191;
  border-radius: 6px;
  resize: none;
}

textarea::placeholder {
  font-size: 16px;
  color: #919191;
}
