$heading-sizes: (h1: 40px, h2: 36px, h3: 30px, h4: 24px, h5: 20px, h6: 18px);

@each $heading, $size in $heading-sizes {
    #{$heading} {
        font-size: $size;
    }
}

$heading-line-heights: (h1: 48px, h2: 44px, h3: 36px, h4: 30px, h5: 24px, h6: 22px);

@each $heading, $line-height in $heading-line-heights {
    #{$heading} {
        line-height: $line-height;
    }
}

%common-font-styles {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

%common-font-weight {
    font-weight: 600;
}

h1 {
    @extend %common-font-styles;
    @extend %common-font-weight;
}

h2 {
    @extend %common-font-styles;
    @extend %common-font-weight;
}

h3 {
    @extend %common-font-styles;
    @extend %common-font-weight;
}

h4 {
    @extend %common-font-styles;
    font-weight: bold;
}

h5 {
    @extend %common-font-styles;
    @extend %common-font-weight;
}

h6 {
    @extend %common-font-styles;
    font-weight: bold;
}
