@keyframes reveal-from-top {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-color {
  0% {
    background-color: #FFB402;
  }
  25% {
    background-color: #FF9100;
  }
  50% {
    background-color: #FF7100;
  }
  75% {
    background-color: #FF9100;
  }
  100% {
    background-color: #FFB402;
  }
}
