$primary-50: #DFF4F1;
$primary-300: #41BEAD;
$primary-400: #00AF9B;

$secondary-100: #FFECB3;
$secondary-400: #FFCB29;
$secondary-500: #FFC20A;
$secondary-600: #FFB402;
$secondary-800: #FF9100;
$secondary-900: #FF7100;

$blue-50: #E3F3FD;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44A9F8;

$grey-50: #F8F8F8;
$grey-100: #F1F1F1;
$grey-200: #E6E6E6;
$grey-300: #D6D6D6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-700: #565656;

$label-grey: #676781;
$label-violet: #9A5DC6;

$price-red: #FC4C50;
