@import '../settings/settings-breakpoints.scss';

.o-page-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: 75px 1fr 324px;
}

.o-site-container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

.o-horizontal-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
        flex-direction: column;
    }
}

.o-vertical-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-article-with-icon {
    display: flex; 
    align-items: flex-start;

    img {
        margin-right: 32px
    }

    h3 {
        margin-bottom: 16px;
    }
}
