.o-page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 75px 1fr 324px;
}

.o-site-container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.o-horizontal-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 599px) {
  .o-horizontal-list {
    flex-direction: column;
  }
}

.o-vertical-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-article-with-icon {
  display: flex;
  align-items: flex-start;
}

.o-article-with-icon img {
  margin-right: 32px;
}

.o-article-with-icon h3 {
  margin-bottom: 16px;
}
