.additional-info {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 900px) {
  .additional-info {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 150px;
  }
}

.additional-info__when-and-where {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 10px dotted #FFECB3;
}

@media (min-width: 900px) {
  .additional-info__when-and-where {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 29px;
    border-right: 10px dotted #FFECB3;
    border-bottom: none;
  }
}

.additional-info__more-info {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .additional-info__more-info {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 35px;
  }
}

.additional-info__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #FF9100;
}
