@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';
@import '../../settings/settings-breakpoints.scss';

.welcome-wrapper {
    background-color: $blue-400;
    position: relative;

    .welcome {
        padding: 64px 150px 104px;

        @include for-desktop-up {
            padding: 64px 320px 104px; 
        };

        &__label {
            @include box-shadow(1);

            color: white;
            background-color: $secondary-500;
            width: fit-content;
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;       
            padding: 4px 8px;
            margin-bottom: 24px;
            border-radius: 4px;
        }

        &__main-title {
            color: white;
            font-size: 30px;
            line-height: 36px;

            @include for-tablet-landscape-up {
                font-size: 36px;
                line-height: 44px;
            }
        }
    }

    .enrollment {
        @include box-shadow(1);

        position: absolute;
        top: 246px;
        max-width: 90%;
        width: 100%;
        min-height: auto;
        background-color: white;
        border-radius: 12px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 144px 1fr;

        @include for-tablet-landscape-up {
            max-width: 1290px;
            width: 100%;
            min-height: 112px;

            grid-template-columns: 200px 1fr;   
            grid-template-rows: 1fr;
        }

        @include for-desktop-up {
            grid-template-columns: 302px 1fr; 
            grid-template-rows: 1fr;    
        };

        &__button-wrapper {
            display: flex; 
            align-items: center;
            justify-content: center;
            border-bottom: 10px dotted $grey-100;

            @include for-tablet-landscape-up {
                border: none;
                position: relative;

                &::after {
                    content: '';
                    height: 114px;
                    width: 12px;
                    display: block;
                    background: url('../../../assets/transparent-dots.png');
                    background-size: cover;
                    position: absolute; 
                    top: 0;
                    right: 0;
                }
            }             
        }

        &__content-list {
            padding: 24px;
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;

            @include for-tablet-landscape-up {
                padding: 0 0 0 63px;
                flex-flow: row nowrap;
                margin: 0;
            }
        }

        &__content-list-item {
            padding-right: 68px;
            display: flex;
            align-items: center;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 50px;
            }

            @include for-tablet-landscape-up {
                
                &:not(:last-child) {
                    margin-bottom: 0;
                }

                &:not(:last-child)::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 32px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $grey-100;
                    width: 2px;
                    height: 24px;
                }
            }

            .list-info-wrapper {
                display: flex;
                flex-direction: column; 
                margin-left: 24px;
            }

            .list-info {
                font-weight: bold;

                &--title {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 3px;

                    @include for-tablet-portrait-up {
                        font-size: 14px;
                    }

                    @include for-desktop-up {
                        font-size: 18px;
                    }
                }

                &--value {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 24px;
                    color: $secondary-800;

                    @include for-tablet-portrait-up {
                        font-size: 16px;
                    }

                    @include for-desktop-up {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
