.certificate {
  height: 100%;
  display: grid;
  grid-template-columns: 610px 1fr;
  padding-top: 60px;
}

.certificate__info-wrapper {
  height: 100%;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certificate__image-wrapper {
  align-self: start;
  margin-left: 240px;
}

.certificate__image {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  width: 363px;
  height: 256px;
  border-radius: 12px;
  background-color: #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
