.about-wrapper {
  padding-top: 152px;
  padding-bottom: 96px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 550px;
}

.about__video {
  align-self: center;
  justify-self: end;
  transform: translateY(-8px);
  position: relative;
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.about__video::before {
  content: url("../../../assets/play-video.svg");
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.about__video:hover {
  transform: scale(1.05);
}
