.additional-info {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 150px;
}

.additional-info__when-and-where {
  padding-right: 32px;
  border-right: 10px dotted #FFECB3;
}

.additional-info__more-info {
  padding-left: 35px;
}
