.basic-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.basic-info__suitable-for {
  padding-right: 93px;
}

.basic-info__acquired-skills {
  padding-left: 82px;
  border-left: 10px dotted #FFECB3;
}
