@import '../../settings/settings-colors.scss';

.course-main {
    display: grid;
    grid-template-rows: 302px 570px 220px 554px 426px 472px;
}

.basic-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    &__suitable-for {
        padding-right: 88px;
    }

    &__acquired-skills {
        padding-left: 85px;
        border-left: 10px dotted $secondary-100;
    }
}