.welcome-wrapper {
  background-color: #44A9F8;
  position: relative;
}

.welcome-wrapper .welcome {
  padding: 64px 330px 104px;
}

.welcome-wrapper .welcome__label {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #FFC20A;
  width: fit-content;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 8px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.welcome-wrapper .welcome__main-title {
  color: white;
}

.welcome-wrapper .enrollment {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -55px;
  max-width: 1290px;
  width: 100%;
  min-height: 112px;
  background-color: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 302px 1fr;
}

.welcome-wrapper .enrollment__button-wrapper {
  border-right: 10px dotted #44A9F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-wrapper .enrollment__content-list {
  padding-left: 63px;
  display: flex;
}

.welcome-wrapper .enrollment__content-list-item {
  padding-right: 68px;
  display: flex;
  align-items: center;
  position: relative;
}

.welcome-wrapper .enrollment__content-list-item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F1F1F1;
  width: 2px;
  height: 24px;
}

.welcome-wrapper .enrollment__content-list-item .list-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.welcome-wrapper .enrollment__content-list-item .list-info {
  font-weight: bold;
}

.welcome-wrapper .enrollment__content-list-item .list-info--title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.welcome-wrapper .enrollment__content-list-item .list-info--value {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #FF9100;
}
