@import '../../settings/settings-colors.scss';
@import '../../settings/settings-breakpoints.scss';

.about-wrapper {
    padding-top: 520px; 
    padding-bottom: 20px;

    @include for-tablet-landscape-up {
        padding-top: 80px; 
    };

    @include for-desktop-up {
        padding-top: 152px; 
        padding-bottom: 96px;
    };
}

.about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 300px;

    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 460px;   
        grid-template-rows: 1fr;
    };

    @include for-desktop-up {
        grid-template-columns: 1fr 550px;
    };

    &__info {
        align-self: center;

        @include for-desktop-up {
            align-self: start;
        };
    }

    &__video {
        align-self: center;
        justify-self: center;

        @include for-tablet-landscape-up {
            justify-self: end;
        };

        transform: translateY(-8px);
        position: relative;
        cursor: pointer;   
        transition: transform 0.4s ease-out;;
        
        &::before {
            content: url('../../../assets/play-video.svg');
            display: inline-block;
            position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;   
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
