@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';

.welcome-wrapper {
    background-color: $blue-400;
    position: relative;

    .welcome {
        padding: 64px 330px 104px;

        &__label {
            @include box-shadow(1);

            color: white;
            background-color: $secondary-500;
            width: fit-content;
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;       
            padding: 4px 8px;
            margin-bottom: 24px;
            border-radius: 4px;
        }

        h1 {
            color: white;
        }
    }

    .enrollment {
        @include box-shadow(1);

        position: absolute;
        bottom: -55px;
        max-width: 1290px;
        width: 100%;
        min-height: 112px;
        background-color: white;
        border-radius: 12px;

        display: grid;
        grid-template-columns: 302px 1fr; 

        &__button-wrapper {
            border-right: 10px dotted $blue-400;
            display: flex; 
            align-items: center;
            justify-content: center;
        }

        &__content-list {
            padding-left: 63px;
            display: flex;
        }

        &__content-list-item {
            padding-right: 66px;
            display: flex;
            align-items: center;
        
            .list-info-wrapper {
                display: flex;
                flex-direction: column; 
                margin-left: 24px;
            }

            .list-info {
                font-weight: bold;

                &--title {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 3px;
                }

                &--value {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                    color: $secondary-800;
                }
            }
        }
    }
}
