.schedule-wrapper {
  background-color: #FFCB29;
}

.schedule-wrapper .shedule-wrapper-inner {
  width: 100%;
  height: 101.7%;
  margin-top: -5px;
  border-top: 10px dotted white;
  border-bottom: 10px dotted white;
}

.schedule-wrapper .schedule {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (min-width: 900px) {
  .schedule-wrapper .schedule {
    grid-template-columns: 736px 1fr;
  }
}

.schedule-wrapper .schedule__title {
  margin-bottom: 24px;
}

.schedule-wrapper .schedule__subtitle {
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
}

.schedule-wrapper .schedule__select {
  margin-bottom: 16px;
  width: 90%;
}

.schedule-wrapper .schedule__select select {
  min-width: 100%;
  font-size: 12px;
  padding: 14px 10px 14px 14px;
}

@media (min-width: 900px) {
  .schedule-wrapper .schedule__select {
    min-width: 674px;
  }
  .schedule-wrapper .schedule__select select {
    min-width: 100%;
    font-size: 18px;
  }
}

.schedule-wrapper .schedule__image {
  display: none;
}

@media (min-width: 1200px) {
  .schedule-wrapper .schedule__image {
    display: block;
    align-self: end;
    justify-self: center;
    padding-bottom: 24px;
    transform: translateX(40px);
  }
}
