.course-main {
  display: grid;
  grid-template-rows: 302px 1fr 360px 564px 5px 800px;
}

@media (min-width: 900px) {
  .course-main {
    grid-template-rows: 302px 620px 260px 564px 422px 550px;
  }
}

@media (min-width: 1200px) {
  .course-main {
    grid-template-rows: 302px 570px 230px 564px 422px 480px;
  }
}
