.welcome-wrapper {
  background-color: #44A9F8;
}

.welcome-wrapper .welcome {
  padding: 64px 330px 104px;
}

.welcome-wrapper .welcome__label {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #FFC20A;
  width: fit-content;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 4px 8px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.welcome-wrapper .welcome h1 {
  color: white;
}
