@import '../../settings/settings-colors.scss';
@import '../../settings/settings-breakpoints.scss';

.schedule-wrapper {
    background-color: $secondary-400;

    .shedule-wrapper-inner {
        width: 100%;
        height: 101.7%;
        margin-top: -5px;   
        border-top: 10px dotted white;
        border-bottom: 10px dotted white;
    }

    .schedule {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 64px;
        padding-bottom: 64px;

        @include for-tablet-landscape-up {
            grid-template-columns: 736px 1fr;
        };

        &__title {
            margin-bottom: 24px;
        }

        &__subtitle {
            margin-top: 24px;
            margin-bottom: 12px;
            font-family: 'Lato', sans-serif;
        }

        &__select {
            margin-bottom: 16px;
            width: 90%;

            select {
                min-width: 100%;
                font-size: 12px;
                padding: 14px 10px 14px 14px;
            }

            @include for-tablet-landscape-up {
                min-width: 674px;
                
                select {
                    min-width: 100%;
                    font-size: 18px;
                }
            };
        }

        &__image {
            display: none;

            @include for-desktop-up {
                display: block;
                align-self: end;
                justify-self: center;
                padding-bottom: 24px;
                transform: translateX(40px);
            }
        }
    }
}

