.footer {
  background-color: #565656;
  border-top: 12px solid #919191;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 64px 298px;
  max-height: 312px;
  position: relative;
}

.footer__container::before {
  content: url("../../../assets/footer-big-icon.svg");
  width: 220px;
  height: 403px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  transition: transform 0.5s ease-out;
}

.footer__container:hover::before {
  transform: scale(1.06);
}

.footer__container h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  color: white;
}

.footer__list {
  max-height: 148px;
}

.footer__list li:not(:last-child) {
  margin-bottom: 12px;
}

.footer__list a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  transition: color 0.3s ease-out;
}

.footer__list a:hover {
  color: #41BEAD;
}

.footer .long-menu {
  width: 250px;
}

.footer__list--long {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  max-height: 164px;
}

.footer__social-links {
  display: flex;
  margin-bottom: 48px;
  padding-top: 5px;
}

.footer__social-links li {
  margin-right: 30px;
}

.footer__social-link {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-size: contain;
}

.footer__social-link--facebook {
  background-image: url("../../../assets/facebook.svg");
  transition: background-image 0.3s ease-out;
}

.footer__social-link--facebook:hover {
  background-image: url("../../../assets/facebook-green.svg");
}

.footer__social-link--instagram {
  background-image: url("../../../assets/instagram.svg");
  transition: background-image 0.3s ease-out;
}

.footer__social-link--instagram:hover {
  background-image: url("../../../assets/instagram-green.svg");
}

.footer__copyright p {
  line-height: 19px;
  color: #919191;
  margin-bottom: 0;
}
