@import '../../settings/settings-colors.scss';
@import '../../settings/settings-breakpoints.scss';

.footer {
    background-color: $grey-700;
    border-top: 12px solid $grey-500;
    color: white;
    position: relative;
    
    &__container {
        max-height: 100%;
        max-width: 450px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        padding: 20px 20px 15px 20px;

        @include for-tablet-landscape-up {
            max-height: 312px;
            max-width: 1300px;
            flex-flow: row nowrap;
            padding: 64px 5px 64px 250px;

            &::before {
                content: url('../../../assets/footer-big-icon.svg');
                width: 220px;
                height: 403px;
                display: inline-block;
                position: absolute;
                bottom: 0; left: 5px;
            }
        }

        @include for-desktop-up {
            padding: 64px 5px 64px 298px;
        }

        h6 {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            margin-bottom: 16px;
            color: white;
            margin-top: 32px;

            @include for-tablet-landscape-up {
                margin-top: 0;
            }
        }        
    }

    &__list {
        @include for-desktop-up {
            max-height: 148px;
        }
    
        li {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $grey-200;
            transition: color 0.3s ease-out;

            &:hover {
                color: $primary-300;
            }
        }
    }

    .long-menu {
        @include for-desktop-up {
            width: 250px; 
        }
    }

    &__list--long {
        display: flex;
        flex-flow: column nowrap;
        align-content: space-between;

        @include for-desktop-up {
            flex-flow: column wrap; 
            max-height: 164px;
        }
    }
    
    &__social-links {
        display: flex;
        margin-bottom: 48px;
        padding-top: 5px;

        li {
            margin-right: 30px;
        }
    }

    &__social-link {
        display: inline-block;
        width: 28px;
        height: 28px;
        background-size: contain;

        &--facebook {
            background-image: url('../../../assets/facebook.svg');
            transition: background-image 0.3s ease-out;
    
            &:hover {
                background-image: url('../../../assets/facebook-green.svg');
            }
        }

        &--instagram {
            background-image: url('../../../assets/instagram.svg');
            transition: background-image 0.3s ease-out;

            &:hover {
                background-image: url('../../../assets/instagram-green.svg');
            }
        }
    }

    &__copyright {
        width: 90%;
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding-top: 32px;
        border-top: 1px solid $grey-600;

        p {
            line-height: 19px;
            color: $grey-500;
            margin-bottom: 0;
        }

        @include for-tablet-landscape-up {
            width: auto;
            position: static;
            transform: translateX(0);
            text-align: left;
            padding-top: 0;
            border-top: none;
        }
    }
}
