@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';
@import '../../settings/settings-animations.scss';

.btn {
    border: none;
    border-radius: 100px;
    padding: 10px 22px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &--primary {
        @include box-shadow(4);

        background-color: $secondary-800;
        color: white;

        &:hover {
            @include box-shadow(1);
        }
    }

    &--secondary {
        background-color: white;
        color: $secondary-800;
        font-weight: 800;
        border: 1px solid $secondary-800;
        padding: 13px 34px;
        letter-spacing: 0.6px;
    }

    &--big {
        padding: 14px 32px;
        font-size: 16px;
        line-height: 20px;
    }

    &--pulsating {
        animation-name: pulse-color;
        animation-duration: 2.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
}
