@import '../../settings/settings-colors.scss';
@import '../../settings/settings-box-shadows.scss';
@import '../../settings/settings-animations.scss';
@import '../../settings/settings-breakpoints.scss';

.navbar-wrapper {
    @include box-shadow(2);
    
    position: relative;
    z-index: 2;

    .navbar {
        &__logo-arrow {
            margin-right: 16px;
        }
    
        &__items {
            margin-right: 8px;
        }
    
        @for $i from 0 through 7 {
            .navbar__item:nth-child(#{$i}) {
                animation-delay: #{0.2 * $i}s;
            }
        }
    
        &__item {
            opacity: 0;
            transform: translateX(-30px);
            
            animation-name: reveal-from-top;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
    
            padding: 28px 13px;
            cursor: pointer;
            margin-right: 24px;
    
            a {
                text-transform: uppercase;
                color: $grey-700;
                transition: color 0.3s ease-out;
    
                &:hover {
                    color: $secondary-800;
                }
            }
        }
        
        &__btns {
            img {
                margin-right: 32px;
                cursor: pointer;
            }
    
        }
    }
}
